<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>БД книг</title>
    <link rel="stylesheet">

</head>
<body>

<div th:each="book : ${books}">
    <a th:href="@{/books/{id}(id=${book.getId})}" th:text="${book.getTitle()}">value</a>
    <ul>
        <li th:text="'ID: ' + ${book.getId}">user</li>
        <li th:text="'Автор: ' + ${book.getAuthor()}">user</li>
        <li th:text="'Дата выпуска: ' + ${book.getReleaseDate()}">user</li>
    </ul>

    <hr>
</div>

<br/>
<br/>
<form th:method="GET" th:action="@{/books}">
    <label for="page">Введите номер страницы:</label>
    <br/>
    <input type="text" id="page" name="page"/>
    <br/>
    <label for="countOfBooks">Введите количество отображаемых книг:</label>
    <br/>
    <input type="text" id="countOfBooks" name="books_per_page"/>
    <br/>
    <input id="yes" type="radio" name="sort_by_year" value="true">
    <label for="yes">Сортировка по году выпуска книги</label>
    <br/>
    <br/>
    <input type="submit" value="Отобразить"/>
    <br/>
    <br/>
    <br/>
    <br/>
</form>

<form th:method="GET" th:action="@{/books/new}">
    <input type="submit" value="Добавить книгу"/>
</form>

<br>
<form th:method="GET" th:action="@{/books/search}">
    <input type="submit" value="Страница поиска книги"/>
</form>

<br>
<form th:method="GET" th:action="@{/people}">
    <input type="submit" value="На страницу людей"/>
</form>

<br>
<form th:method="GET" th:action="@{/}">
    <input type="submit" value="На главное меню"/>
</form>

</body>
</html>