<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Создание новой книги</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>

<form th:method="POST" th:action="@{/books}" th:object="${book}">

    <label for="title">Введите название книги:</label>
    <input type="text" th:field="*{title}" id="title"/>
    <div style="color:red" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Name Error</div>
    <br/>
    <br/>

    <label for="author">Введите автора книги:</label>
    <input type="text" th:field="*{author}" id="author"/>
    <div style="color:red" th:if="${#fields.hasErrors('author')}" th:errors="*{author}">Name Error</div>
    <br/>
    <br/>

    <label for="releaseDate">Введите год издания:</label>
    <input type="text" th:field="*{releaseDate}" id="releaseDate"/>
    <div style="color:red" th:if="${#fields.hasErrors('releaseDate')}" th:errors="*{releaseDate}">Name Error</div>
    <br/>
    <br/>

    <hr>
    <input type="submit" value="Добавить книгу"/>
</form>

<br/>
<form th:method="GET" th:action="@{/books}">
    <input type="submit" value="На страницу книг"/>
</form>

</body>
</html>