<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Поиск книги</title>
    <link href="/style.css" rel="stylesheet" type="text/css"/>
</head>
<body class="DenisStyle">


<form th:method="POST">
    <label for="find">Введите поисковый запрос:</label>
    <input type="text" id="find" name="findBook">
    <input type="submit" value="Искать!"/>
</form>

<div th:if="${findBooks}">
    <p th:if="${findBooks.isEmpty()}" style="background: #5a5e55">Книг не найдено!</p>

    <div th:if="${!findBooks.isEmpty()}" th:each="findBook : ${findBooks}" style="background: #5a5e55">
        <hr>
        <p th:text="'Название книги: ' + ${findBook.getTitle()}">
        <p th:text="'Автор книги: ' + ${findBook.getAuthor()}">
        <p th:if="${findBook.getOwner()!=null}"
           th:text="'Книга принадлежит: ' + ${findBook.getOwner().getFullName()}">
        <p th:if="${findBook.getOwner()==null}"
           th:text="'Книга свободна!'">
        <hr>
    </div>
    <br>
    <br>
</div>

<form th:method="GET" th:action="@{/books}">
    <input type="submit" value="На страницу книг"/>
</form>

</body>
</html>